.class-one {
        background-color: #ffc0cb;
        font-family: Verdana, "DejaVu Sans", sans-serif;
}
.class-two {
        font-size: 24px;
}
#id-one {
        font-size: 36px;
        color: #0000ff;
}
#id-two {
        background-color: #90ee90;
        font-size: 24px;
        font-weight: bold;
}
